body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #992a27; 
}

<<<<<<< HEAD
.grid {
    margin-top: 50px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border-radius: 10px;
    height: 600px;
    width: 600px;
    background-color: #D9D5B3;
=======
.box { 
    background-color: rgb(230, 230, 230);
    /*border: 1px solid rgb(0, 0, 0); */
    width: 100px;
    height: 100px;

}

#newGridBtn {
    padding: 16px 32px;
    font-size: 24px;
    margin: 16px;
>>>>>>> ff3516a168e980b180673bc655dbe069d29a6c38
}