body {
    margin: 0px;
}

.box { 
    background-color: rgb(230, 230, 230);
    /*border: 1px solid rgb(0, 0, 0); */
    width: 100px;
    height: 100px;

}

#newGridBtn {
    padding: 16px 32px;
    font-size: 24px;
    margin: 16px;
}